<h1><%=title%></h1>
<h3>Retrieve it now</h3>

<form action="/users/forgot" method="post">
    <input type="email" name="email" placeholder="Email ID" required>
    <input type="Submit" value="Sign In">
</form>
<p>
    <a href="/users/auth/sign-in">Sign in</a>
</p>